.container {
    margin: 20% 10%;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    border-radius: 10px;
    overflow: hidden;
}
.card {
    padding: 10%;
}
.card-title {
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    font-size: 2.5vw;
}
.card-text {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 1.5vw;
    margin-bottom: 30%;
}
.card-button > button {
    padding: 6% 15%;
    font-size: 1.3vw;
    border: 2px solid white;
    border-radius: 20px;
    font-family: 'Lexend Deca', sans-serif;
    cursor: pointer;
}
.card-left {
    background-color: hsl(31, 77%, 52%);
}
.card-center {
    background-color: hsl(184, 100%, 22%);
}
.card-right {
    background-color: hsl(179, 100%, 13%);
}
.card-left-button > button {
    color: hsl(31, 77%, 52%);
}
.card-left-button > button:hover {
    color: hsl(0, 0%, 95%);
    background-color: hsl(31, 77%, 52%);
    border-color: white;
}
.card-center-button > button {
    color: hsl(184, 100%, 22%);
}
.card-center-button > button:hover {
    color: hsl(0, 0%, 95%);
    background-color: hsl(184, 100%, 22%);
    border-color: white;
}
.card-right-button > button {
    color: hsl(179, 100%, 13%);
}
.card-right-button > button:hover {
    color: hsl(0, 0%, 95%);
    background-color: hsl(179, 100%, 13%);
    border-color: white;
}
@media (max-width: 500px) {
    .container {
        grid-template-columns: 100%;
        grid-template-rows: 33% 34% 33%;
    }
    .card-title {
        font-size: 5vw;
    }
    .card-text {
        margin-bottom: 8%;
        font-size: 4vw;
        line-height: 1.75;
    }
    .card-button > button {
        padding: 3% 10%;
        font-size: 3vw;
        border: 2px solid white;
        border-radius: 20px;
        font-family: 'Lexend Deca', sans-serif;
        cursor: pointer;
    }
}